<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fourniture artisanats</title>
    <link rel="stylesheet" href="style5.css">
</head>
<body>
    <header>
        <h1>Fourniture artisanats</h1>
    </header>
    <main>
        <section class="produits">
            <h2>Artciles</h2>
            <div class="produit">
                <h3>Papier construction</h3>
                <div class="boutons">
                    <button class="ajouter">Ajouter</button>
                    <button class="supprimer">Supprimer</button>
                </div>
            </div>
            <div class="produit">
                <h3>Papier origami</h3>
                <div class="boutons">
                    <button class="ajouter">Ajouter</button>
                    <button class="supprimer">Supprimer</button>
                </div>
            </div>
            <div class="produit">
                <h3>Papier d'art</h3>
                <div class="boutons">
                    <button class="ajouter">Ajouter</button>
                    <button class="supprimer">Supprimer</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Dunder Mifflin-INC</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
